* {
  box-sizing: border-box;
  background-color: skyblue;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2')
    format('woff2');
}

div.container {
  max-width: 1000px;
  margin: auto;
}

div.row {
  text-align: center;
  font-size: x-large;
}

div.column-1 {
  display: flex;
  flex-direction: column;
}

div.column-2 {
  display: flex;
  flex-direction: column;
}

div.column-3 {
  display: flex;
  flex-direction: column;
}
