#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-bar {
  text-align: start;
  background-color: lightgray;
  padding: 0.5rem;
  border-radius: 2rem;
  width: 24rem;
}

ul,
li {
  text-align: start;
  list-style: none;
  padding: 0;
}
