h2 {
  color: red;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.info {
  margin: 1rem;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.info input {
  width: 80%;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  border-color: lightgray;
  border-width: thin;
}

button {
  color: white;
  background-color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20rem;
  border: 4rem;
  padding: 8px;
  text-align: right;
}

button:hover {
  background-color: lightcoral;
}

input::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 1;
  color: lightgray;
  text-align: left;
  padding: 1rem 2px;
}

select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgray;
  border-radius: 6px;
  width: 80%;
  padding: 8px;
}
