.header-title {
  background-color: darkslategray;
  display: flex;
  padding: 1rem;
  border-radius: 2rem;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 1rem;
  color: whitesmoke;
  letter-spacing: 1px;
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}
