.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

div.row {
  display: flex;
}

.header {
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

#canvas {
  color: navy;
}

button {
  border-style: none;
  padding: 0.5rem;
  background-color: white;
  color: gray;
  border-radius: 4px;
}

button:hover {
  color: lightgray;
}

#contact-us {
  border-style: solid;
  background-color: navy;
  color: white;
}

#contact-us:hover {
  color: gray;
}

.hero {
  position: relative;
}

.hero-content {
  position: relative;
  padding: 5rem;
  color: white;
}

.get-started {
  background-color: navy;
  color: white;
  border-radius: 4px;
}

.column-half {
  width: 50%;
}

.column-full {
  width: 100%;
}

.hero-image {
  background-image: url('images/hero.jpg');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: contrast(70%);
}

.column-center {
  color: gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4rem;
}

.clinicians-pref {
  text-align: center;
}

div.row.locations {
  justify-content: center;
  color: gray;
  background-color: rgba(211, 211, 211, 0.176);
}

.location {
  text-align: center;
  color: gray;
}

.column-bottom {
  width: 50%;
}

.learn-more {
  color: gray;
  align-items: center;
  margin-left: 5%;
  margin-top: 5%;
}

.start {
  margin-left: 70%;
  background-color: navy;
  color: white;
  border-radius: 4px;
}

.footer {
  background-color: gray;
  justify-content: space-evenly;
}

.column-foot {
  justify-content: space-evenly;
  display: flex;
  text-align: center;
}

.contact {
  margin-right: 40%;
  color: white;
}

div.company-links {
  color: white;
  margin-right: 10%;
}

div.product-links {
  color: white;
}
